{% extends "base.html" %}

{% block head %}

{{ super() }}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='state_estimation_style.css') }}" type="text/css"/>

<script>

var cache = {};
cache.enrichr = {};
var tree = {};
var id_to_name = {};

// toggles visibility of the bottom-left gene query view
// 'toggle' is a jquery method that changes the visibility of the element.
function toggle_query_visibility() {
    var value = $('#database_select').val();
    var views = ['cellmarker_view', 'cellmesh_view', 'cellmesh_anatomy_view', 'go_view', 'kegg_view'];
    var view_select = value + '_view';
    for (var i in views) {
        if (views[i] == view_select) {
            $('#'+views[i]).toggle(true);
        } else {
            $('#'+views[i]).toggle(false);
        }
    }
};

function set_enrichr_results(data, query) {
    // create table
    results_view = $('#' + query + '_results');
    results_view.empty();
    var table = $('<table>');
    var header = $('<tr>');
    for (var j = 0; j<data[0].length; j++) {
        header.append('<th>'+data[0][j]+'</th>');
    }
    table.append(header);
    for (var i = 1; i<data.length; i++) {
        var row = $('<tr>');
        for (var j = 0; j<data[i].length; j++) {
            row.append('<td>'+data[i][j]+'</td>');
        }
        table.append(row);
    }
    results_view.append(table);
}; 

function update_gene_query(query) {
    // query is a string that can be 'enrichr', 'cellmarker', etc...
    var input_array = $('#gene-set-query-form').serializeArray();
    var data = {};
    $(input_array).each(function(index, obj){
        data[obj.name] = obj.value;
    });
    console.log('update_gene_query');
    console.log(data);
    var key = JSON.stringify(data);
    if (cache.enrichr.hasOwnProperty(key)) {
        set_enrichr_results(cache.enrichr[key], query);
        return true;
    }
    results_view = $('#cellmarker_results');
    if (query == 'cellmarker') {
        results_view = $('#cellmarker_results');
    } else if (query == 'cellmesh') {
        results_view = $('#cellmesh_results');
    } else if (query == 'cellmesh_anatomy') {
        results_view = $('#cellmesh_anatomy_results');
    } else if (query == 'go') {
        results_view = $('#go_results');
    }
    results_view.empty();
    results_view.append("<br>" + "Query in progress..." + '<img src="/static/ajax-loader.gif"/>');
    $.ajax({url: '/db_query/submit',
        type: "POST",
        data: data,
    }).done(function(results) {
        results_view.empty();
        if (results.startsWith('Error')) {
            results_view.append(results);
        } else {
            results = JSON.parse(results);
            cache.enrichr[key] = results;
            set_enrichr_results(results, query);
        }
    });
    return true;
};

// set the anatomy_mesh tree view
function set_mesh_tree(tree) {
    // TODO
};


window.onload = function() {
    toggle_query_visibility();

    $.ajax({url: '/db_query/get_mesh_tree',
        type: "GET",
    }).done(function(results) {
        console.log(results);
        results = JSON.parse(results);
        tree = results.tree;
        id_to_name = results.id_to_name; 
        set_mesh_tree(results.tree);
    });
};

</script>
{% endblock %}

{% block content %}
<div class="container container-main" role="main">
    <form id="gene-set-query-form">
        <!-- TODO: have a multi-pane view? or have something that -->

        <div>Selected genes:</div>
        <div class="form-inline">
            <textarea class="form-control" id="top-genes-view" cols="50" rows="4" name="top_genes">Top genes go here, space or newline-separated</textarea>
        </div>
        <!-- onchange: make the cellmarker view visible -->
        <div class="form-inline">
            <label for="database_select" data-toggle="tooltip" title="Which database to query for the given gene set. Current options are Enrichr and CellMarker.">Database:</label>
            <select class="form-control" id="database_select" name="database_select" style="width:200px; margin-top: 5px;" onchange="toggle_query_visibility();">
                <option value="cellmarker">CellMarker</option>
                <option value="cellmesh" selected>CellMeSH</option>
                <option value="cellmesh_anatomy" selected>CellMeSH-Anatomy</option>
                <option value="go" selected>Gene Onotology</option>
            </select>
        </div>

        <div id="cellmarker_view" style="display:none;">
            <h5 data-toggle="tooltip" title="Query the CellMarker database for cell types matching the selected genes.">Query CellMarker with selected genes</h4>
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="test_type" data-toggle="tooltip" title="Currently, only the hypergeometric test is available.">Statistical test:</label>
                <select class="form-control" id="test_type" name="test_type">
                    <option value="hypergeom" selected>Hypergeometric test</option>
                </select>
            </div>

            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="species" data-toggle="tooltip" title="Which species to query for cell types. Currently human and mouse are available.">Species:</label>
                <select class="form-control" id="species" name="species">
                    <option value="all" selected>All</option>
                    <option value="Human">Human</option>
                    <option value="Mouse">Mouse</option>
                </select>
            </div>

            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="cells_or_tissues">Cells or tissues:</label>
                <select class="form-control" id="cells_or_tissues" name="cells_or_tissues">
                    <option value="cells" selected>Cells</option>
                    <option value="tissues">Tissues</option>
                </select>
            </div>

            <button class="btn btn-default" id="cellmarker-submit" type="button" onclick="update_gene_query('cellmarker')">Submit CellMarker query</button>
            <div id="cellmarker_results"></div>
        </div>


        <div id="cellmesh_view" style="display:none;">
            <h5 data-toggle="tooltip" title="Query the CellMeSH database for cell types matching the selected genes.">Query CellMeSH with selected genes</h4>
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="mesh_test_type" data-toggle="tooltip" title="Currently, only the hypergeometric test is available.">Statistical test:</label>
                <select class="form-control" id="mesh_test_type" name="mesh_test_type">
                    <option value="hypergeom">Hypergeometric test</option>
                    <option value="norm_hypergeom">tf-idf Normalized Hypergeometric test</option>
                    <option value="prob" selected>Probabilistic model</option>
                    <option value="gsva">GSVA</option>
                </select>
            </div>
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="cellmesh_species" data-toggle="tooltip" title="Which species to query for cell types. Currently human and mouse are available.">Species:</label>
                <select class="form-control" id="cellmesh_species" name="cellmesh_species">
                    <!-- TODO: not available yet <option value="all" >All</option>-->
                    <option value="human" selected>Homo sapiens</option>
                    <option value="mouse">Mus musculus</option>
                    <option value="c_elegans">C. Elegans</option>
                </select>
            </div>
            <!-- TODO: have a list of potential sub-types -->
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="cellmesh_subset" data-toggle="tooltip" title="Query will include all children of this term.">MeSH root:</label>
                <input list="cellmesh_terms" class="form-control" id="cellmesh_subset" name="anatomy_mesh_subset">
                <datalist id="cellmesh_terms">
                    <!-- TODO: add anatomy terms -->
                    {% for name in cell_names %}
                    <option value="{{ name }}">
                    {% endfor %}
                </datalist>
            </div>
            <button class="btn btn-default" id="cellmesh-submit" type="button" onclick="update_gene_query('cellmesh');">Submit CellMesh query</button>
            <div id="cellmesh_results"></div>
        </div>


        <div id="cellmesh_anatomy_view" style="display:none;">
            <h5 data-toggle="tooltip" title="Query the CellMeSH database for cell types matching the selected genes.">Query CellMeSH with selected genes</h4>

            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="anatomy_mesh_test_type" data-toggle="tooltip" title="Currently, only the hypergeometric test is available.">Statistical test:</label>
                <select class="form-control" id="anatomy_mesh_test_type" name="anatomy_mesh_test_type">
                    <option value="hypergeom" selected>Hypergeometric test</option>
                    <option value="prob" selected>Probabilistic model</option>
                </select>
            </div>
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="anatomy_species" data-toggle="tooltip" title="Which species to query for cell types. Currently human and mouse are available.">Species:</label>
                <select class="form-control" id="anatomy_species" name="anatomy_species">
                    <!-- TODO: not available yet <option value="all" >All</option>-->
                    <option value="human" selected>Homo sapiens</option>
                    <option value="mouse">Mus musculus</option>
                    <option value="c_elegans">C. Elegans</option>
                </select>
            </div>
            <!-- TODO: have a list of potential sub-types -->
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="anatomy_mesh_subset" data-toggle="tooltip" title="Query will only include all children of this MeSH term. Leave blank to use all MeSH anatomy terms.">MeSH root:</label>
                <input list="anatomy_mesh_terms" class="form-control" id="anatomy_mesh_subset" name="anatomy_mesh_subset">
                <datalist id="anatomy_mesh_terms">
                    <!-- TODO: add anatomy terms -->
                    {% for name in anatomy_names %}
                    <option value="{{ name }}">
                    {% endfor %}
                </datalist>
            </div>
            <button class="btn btn-default" id="cellmesh_anatomy_submit" type="button" onclick="update_gene_query('cellmesh_anatomy');">Submit CellMesh query</button>
            <div id="cellmesh_anatomy_results"></div>
        </div>


        <div id="go_view" style="display:none;">
            <h5 data-toggle="tooltip" title="Query Gene Ontology for terms matching the selected genes.">Query GO with selected genes</h4>
            <button class="btn btn-default" id="cellmesh_anatomy_submit" type="button" onclick="update_gene_query('go');">Submit GO query</button>
            <div id="go_results"></div>
        </div>

        <div id="kegg_view" style="display:none;">
            <h5 data-toggle="tooltip" title="Query Gene Ontology for terms matching the selected genes.">Query GO with selected genes</h4>
            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                <label for="kegg_species" data-toggle="tooltip" title="Which species to query for Gene Ontology. Currently human and mouse are available.">Species:</label>
                <select class="form-control" id="kegg_species" name="kegg_species">
                    <option value="human" selected>Homo sapiens</option>
                    <option value="mouse">Mus musculus</option>
                    <option value="all">Both</option>
                </select>
            </div>
            <button class="btn btn-default" id="kegg_submit" type="button" onclick="update_gene_query('kegg');">Submit KEGG query</button>
            <div id="kegg_results"></div>
        </div>


    </form>
</div>
{% endblock %}

