{% extends "base.html" %}

{% block content %}
<div class="container container-main" role="main">
    <h3>UNCURL-App</h3>

    <div style="margin-top: 20px; margin-bottom: 20px;">
        <a type="button" class="btn btn-lg btn-primary" href="/state_estimation">Upload new dataset</a>
        <a type="button" class="btn btn-lg btn-primary" href="/data">View existing datasets</a>
    </div>

    <p>UNCURL-App is a unified framework for interactively analyzing single-cell RNA-seq data. It is based on UNCURL for data preprocessing and clustering. It can be used to perform a variety of tasks such as:</p>

    <ul>
        <li>Unsupervised or semi-supervised preprocessing</li>
        <li>Clustering</li>
        <li>Dimensionality reduction</li>
        <li>Differential expression</li>
        <li>Interactive data analysis and visualization</li>
    </ul>


    <p><a type="button" class="btn btn-default btn-md" href="https://github.com/yjzhang/uncurl_app">Source code (web app)</a></p>
    <p><a type="button" class="btn btn-default btn-md" href="https://github.com/yjzhang/uncurl_python">Source code (UNCURL)</a></p>

    <p>Citation:</p> 
    <p>Zhang, Yue*, Shunfu Mao*, Sumit Mukherjee, Sreeram Kannan, and Georg Seelig. “UNCURL-App: Interactive Database-Driven Analysis of Single Cell RNA Sequencing Data.” BioRxiv, April 16, 2020, 2020.04.15.043737. https://doi.org/10.1101/2020.04.15.043737.</p>

    <!-- TODO: update figure to use the paper figure 1??? -->

    <img src="{{ url_for('static', filename='ClusterWorkflowUNCURL.jpg') }}" height="400">

</div>
{% endblock %}
