{% extends "base.html" %}

{% block title %}UNCURL results - {{ user_id }}{% endblock %}

{% block head %}

<!-- TODO: have an option for serving static files?-->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>

{{ super() }}

<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

<script src="{{ url_for('static', filename='custom_selections.js') }}"></script>
<script src="{{ url_for('static', filename='state_estimation_script.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='state_estimation_style.css') }}" type="text/css"/>

{% endblock %}

{% block content %}

<!--overlay for hiding the screen -->
<div class="overlay">
     <div id="loading-img" style="position: absolute; left: 50%; top: 50%">
         <img src="/static/ajax-loader.gif" style="height: 10%"/>
     </div>
</div>

<div class="container container-main" role="main">
    <h3>Results for query id {{ user_id }}</h3>

    <p><a href="{{ url_for('interaction_views.data_stats', user_id=user_id) }}">Data stats</a></p>
    Results are available:
    {% block file_downloads %}
    <p><a href="{{ url_for('views.data_download', x=test_or_user, user_id=data_user_id) }}">Data downloads</a></p>
    <!-- link for generating report -->
    <p><a href="{{ url_for('interaction_views.generate_report', user_id=user_id) }}">Cell Type Report</a></p>

    {% endblock %}


    <div id="visualization" class="wrapper">

        <div class="top-left" id="left-hand-panel-1" style="width: 750px;">
            <!-- controls for which types of plots to show -->
            <div id="plot-type-options">
                <input type="radio" id="Means" value="Means" name="scatter-type"onclick="$('#gene-gene-names-area').css('display', 'none');">
                <label for="Means" data-toggle="tooltip" title="Scatterplot of the cluster archetypes, plotted by MDS.">Cluster means</label>
                <input type="radio" id="Cells" value="Cells" name="scatter-type" onclick="$('#gene-gene-names-area').css('display', 'none');">
                <label for="Cells" data-toggle="tooltip" title="Scatterplot visualization of cells after processing with UNCURL.">Post-processed cells</label>
                <input type="radio" id="Baseline" value="Baseline" checked="checked" name="scatter-type" onclick="$('#gene-gene-names-area').css('display', 'none');">
                <label for="Baseline" data-toggle="tooltip" title="Scatterplot visualization of cells before processing with UNCURL.">Pre-processed cells</label>
                <input type="radio" id="Gene-gene" value="Gene-gene" name="scatter-type" onclick="$('#gene-gene-names-area').css('display', 'block');">
                <label for="Gene-gene" data-toggle="tooltip" title="View expression levels of two genes.">Gene-gene</label>
            </div>


            <!-- controls for gene-gene plots -->
            <div id="gene-gene-names-area" style="display:none;" class="form-inline align-items-center">
                <div class="form-group">
                    <label for="gene_name_1">Gene 1:</label>
                    <input list="gene_names" id="gene_name_1" name="gene_name_1" class="form-control" style="width: 100px;">
                    <label for="gene_name_2">Gene 2:</label>
                    <input list="gene_names" id="gene_name_2"  name="gene_name_1" class="form-control" style="width: 100px;">
                </div>
                <div class="form-group" style="width:160px">
                    <select id="use-mw" class="form-control" style="width:150px">
                        <option value="0" selected>Unprocessed</option>
                <!-- TODO: "processed" won't work, because m only contains a subset of genes.
                        <option value="1">Processed</option>
                -->
                    </select>
                </div>
                <button class="btn btn-default" id="gene_gene_names_submit" onclick="update_scatterplot()">Submit</button>
            </div>

            <div id="means-scatter-plot" style="margin-top: 5px"></div>



            <div class="form-inline">
                <label for="cell-color" data-toggle="tooltip" title="How the cells should be colored - either by their cluster label, or by their cluster label entropy.">Cell labels:</label>
                <select class="form-control form-inline" id="cell-color" style="width: 300px;">
                    <option value="cluster" selected>Cluster</option>
                    <option value="entropy">Entropy</option>
                    <option value="gene">Gene</option>
                    <!-- view to show each cluster's W values --> 
                    <option value="weights">Cluster weights</option>
                    <option value="read_counts">Read counts</option>
                    {% for track in color_tracks %}
                    <option value="{{ track }}">{{ track }}</option>
                    {% endfor %}
                    <option value="new">Upload cell labels</option>
                    <option value="custom">Custom cell selection</option>
                </select>
            </div>

            <div id="cluster-select-area" style="display:none;" class="form-inline align-items-center">
                <label for="cluster_input" data-toggle="tooltip" title="This shows the weights for one specified cluster.">Cluster ID:</label>
                <!-- TODO: only allow ints? -->
                <input type="number" min="0" step="1" id="cluster_input" name="cluster_input" class="form-control" style="width:200px;">
                <button type="button" class="btn btn-default" id="cluster_submit" onclick="update_scatterplot()">Submit</button>
            </div>

            <div id="gene-name-area" style="display:none;" class="form-inline align-items-center">
                <label for="gene_name">Gene name:</label>
                <input list="gene_names" id="gene_name" class="form-control" style="width: 200px;">
                <datalist id="gene_names">
                    {% for gene_name in gene_names %}
                    <option value="{{ gene_name }}">
                    {% endfor %}
                </datalist>
                <select id="use_mw_gene" class="form-control" style="width:150px" data-toggle-"tooltip" title="Whether to use pre-processed or post-processed values as the gene expression.">
                        <option value="0" selected>Raw data</option>
                        <option value="1">Post-processed</option>
                </select>
                <button class="btn btn-default" id="gene_name_submit" onclick="update_scatterplot()">Submit</button>
            </div>

            <div id="color-track-upload-area" style="display:none; width: 700px;">
                <form id="color-track-form" action="view/upload_color_track" method="post" enctype=multipart/form-data>
                    <div class="form-inline">
                        <label for="color_track_file" data-toggle="tooltip" title="File should contain one line for each cell.">Upload color track here</label>
                        <input type="file" name="color_track_file" id="color_track_file" class="form-control-file">
                        <label for="color_track_type" data-toggle="tooltip" title="Discrete: each line will be interpreted as a string/label; continuous: each line will be interpreted as a number; table: TODO">Type of color track:</label>
                        <select class="form-control" id="color_track_type" name="color_track_type" style="width: 200px;">
                            <option value="continuous">Continuous</option>
                            <option value="discrete" selected>Discrete</option>
                            <option value="table">Table</option>
                        </select>
                        <button class="btn btn-default" type="submit" id="submit_color_track" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>


            <!-- custom data selection - this allows you to select cells by various criteria. 
                    - arbitrary adding/removal of criteria 

                    Alternatively, have the user type in a string???

                    Type in a string of the form "label = 1 and color_track = 'abc'"
                    or, "color_track = 1"

                    No... that might make it worse
            -->
            <div id="custom_color_map_area" style="display:none; width:700px;">
                    <!-- TODO: Show all labels -->
                    <div class="form-inline">
                        <label for="label_select">Custom label:</label>
                        <select class="form-control" id="label_select" name="label_select" onchange="update_custom_label();">
                            <option value="create_new_label">New label</option>
                        </select>
                    </div>
                    <div id="label_criteria-1" class="label_criteria">
                        <div class="form-inline">
                            <label for="label_name">Label name:</label>
                            <input class="form-control" id="label_name" name="label_name" style="width:200px;">
                        </div>
                        <form id="all_criteria_form">
                            <div id="all_criteria">
                                <div class="form-row form-inline custom_selection_criterion" id="custom_selection_criterion-1" style="border-width:1px;">
                                    <input class="form-control" id="selection_and_or-1" name="selection_and_or-1" value="or" style="width:50px;">
                                    <label for="selection_type-1">Selection type:</label>
                                    <select class="form-control" id="selection_type-1" name="selection_type-1" onchange="update_custom_criterion(1);">
                                        <option value="cluster">Cluster</option>
                                        <option value="selection">Selection</option>
                                        <option value="gene">Gene</option>
                                        <!-- view to show each cluster's W values --> 
                                        <!--<option value="read_counts">Read counts</option>-->
                                        <!-- TODO: a color track should not include itself...-->
                                        {% for track in color_tracks %}
                                        <option value="{{ track }}">{{ track }}</option>
                                        {% endfor %}
                                    </select>
                                    <input class="form-control" id="selection_value-1" name="selection_value-1" style="display:none;">
                                    <select class="form-control" id="selection_comparison-1" name="selection_comparison-1">
                                        <option value="=">=</option>
                                        <option value="!=">!=</option>
                                    </select>
                                    <!-- selection_target could be a cluster id, label, or value.  -->
                                    <input class="form-control" id="selection_target-1" name="selection_target-1" value="0" style="width:100px;">
                                    <button type="button" class="btn btn-default" onclick="delete_criterion(1)">Delete</button>
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-default" onclick="add_custom_criterion('and');">New criterion - AND</button>
                        <button type="button" class="btn btn-default" onclick="add_custom_criterion('or');">New criterion - OR</button>
                    </div>
                    <button type="button" class="btn btn-default" onclick="submit_label();" id="submit_new_label">Submit</button>
            </div>

            <!-- Area containing re-analyze and re-cluster buttons -->
            <div class="input-group" style="margin-top: 5px;">
                <div class="form-row" id="update-area"></div>

                <button type="button" class="btn btn-default" id="cell-info" onclick="get_cell_info();">Get cell/cluster info</button>
                <button type="button" class="btn btn-default" id="recluster_toggle" style="margin-right: 2px;" onclick="toggle_reanalyze_area('recluster')" title="show reclustering options" data-toggle="tooltip">Recluster</button>

                <button type="button" class="btn btn-default" id="reanalyze" onclick="toggle_reanalyze_area('reanalyze');" title="show reanalysis options" data-toggle="tooltip">Reanalyze</button>

                <div id="reanalyze-area" style="display:none;">
                    <a class="btn btn-default" id="delete_rerun" data-toggle="tooltip" title="Deletes stored results, and go back to the parameters screen.">Re-run pipeline</a>
                    <button class="btn btn-default" id="copy">Copy dataset</button>
                    <button class="btn btn-default" id="subset_cells">Sub-select cells</button>
                    <button class="btn btn-default" id="subset_clusters">Sub-select clusters</button>
                </div>

                <div id="recluster_area" style="display:none;">
                    <a data-target="#clusteringOptionModal" role="button" class="btn btn-default" id="rerun_clustering" data-toggle="modal" title="Re-runs the clustering, perhaps with a different algorithm.">Re-run clustering</a>
                    <button type="button" class="btn btn-default" id="split" style="margin-right: 2px;" data-toggle="tooltip" title="Split the selected cluster into two clusters"
                        onclick="split_or_merge_cluster('split', 'clusters');">Split clusters</button>
                    <button type="button" class="btn btn-default" id="merge" data-toggle="tooltip" title="Merge the selected clusters into one cluster" 
                        onclick="split_or_merge_cluster('merge', 'clusters');">Merge clusters</button>
                    <button type="button" class="btn btn-default" id="new-cluster" data-toggle="tooltip" title="Create a new cluster from the selected cells" 
                        onclick="split_or_merge_cluster('new', 'cells');">Create new cluster</button>
                    <button type="button" class="btn btn-default" id="delete_cells" data-toggle="tooltip" title="Remove selected cells from the analysis process" 
                        onclick="split_or_merge_cluster('delete', 'cells')">Delete cells</button>
                </div>
            </div>
        </div>

        <!-- this is a pop-up for re-clustering... -->
        <div class="modal fade" id="clusteringOptionModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Clustering options</h3>
          </div>
          <div class="modal-body">
            <select id="clustering_method_select">
                      <option selected>Argmax</option>
                      <option>Leiden</option>
                      <option>Louvain</option>
                      <option>Leiden_baseline</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="rerun_clustering();">Submit</button>
          </div>
          </div>
          </div>
        </div>

        <div class="top-right" id="right-hand-panel-1" style="width: 550px">
            <select class="form-control" id="top-or-bulk" style="width: 300px;" data-toggle="tooltip" title="Which quantity to visualize in the barplot. C-score is the ratio of the mean expression in the given cluster to the cluster with the second-highest expression.">
                <!--<option value="top">Top genes (c-score)</option>
                <option value="pval">Top genes (p-value of c-score)</option>-->
                <option value="top_1_vs_rest" selected>Top genes (1-vs-rest fold change)</option>
                <option value="pval_1_vs_rest">Top genes (p-value of fold change)</option>
                <option value="selected_color">Top genes for custom labels (1 vs rest fold change)</option>
                <option value="selected_color_pval">Top genes for custom labels (p-value of fold change)</option>
                <option value="sep">Most similar clusters (separation score)</option>
                <option value="top_pairwise">Pairwise fold change</option>
                <option value="pval_pairwise">Pairwise p-value</option>
                <option value="hist">Histogram for a gene</option>
                <!--<option value="bulk">Bulk correlations</option>-->
            </select>

            <div style="display:none;" id="barplot-cluster-select-view" class="form-inline align-items-center">
                <!-- this contains an interface to select a cluster to do pairwise diffexp against. -->
                <!-- This can either be clusters or custom labels -->
                <label for="barplot_cluster_select_1">Cluster 1:</label>
                <select class="form-inline form-control" id="barplot_cluster_select_1" name="barplot_cluster_select_1" onchange="update_barplot(0);">
                </select>
                <label for="barplot_cluster_select_2">Cluster 2:</label>
                <select class="form-inline form-control" id="barplot_cluster_select_2" name="barplot_cluster_select_2" onchange="update_barplot(0);">
                </select>
            </div>

            <div style="display:block;" id="barplot_gene_select_view" class="form-inline align-items-center">
                <!--  this contains an interface to select a gene for comparing the selected cluster vs all. -->
                <label for="barplot_gene_select">Genes of interest (optional):</label>
                <input list="gene_names" id="barplot_gene_select" class="form-control" style="width: 200px;">
                <button type="button" class="btn btn-default" id="barplot_gene_submit" onclick="update_barplot(currently_selected_cluster);">Submit</button>
            </div>

            <div style="margin-top: 4; margin-bottom: 0; width: 300px;" class="form-inline align-items-center">
                <label for="num-genes">Number of top genes:</label>
                <input type="number" class="form-inline form-control" id="num-genes" value="20" style="width: 100px;">
            </div>

            <!-- Plot of top gene/p-value bar plots goes here -->
            <div id="top-genes" style="width: 500px;"></div>

        </div>

        <!-- Bottom left panel - for gene set queries on databases. "bottom-left" actually covers the entire bottom row, since there's no bottom right. -->

        <div class="bottom-left">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#db_gene_query_pane">Gene set query</a></li>
                <li><a data-toggle="tab" href="#cell_query_pane">Cell similarity search</a></li>
            </ul>
            <div class="tab-content" id="bottom-panel" style="margin-top: 20px; width: 1000px;">
                <!-- tabbed navigation -->
                <div id="db_gene_query_pane" class="tab-pane fade in active">
                    <h3>Gene set queries</h3>
                    <form id="gene-set-query-form">
                        <div>Currently selected top genes:</div>
                        <div class="form-inline">
                            <textarea class="form-control" id="top-genes-view" cols="50" rows="4" name="top_genes">Top genes go here</textarea>
                        </div>
                        <!-- onchange: make the cellmarker view visible -->
                        <div class="form-inline">
                            <label for="database-select" data-toggle="tooltip" title="Which database to query for the given gene set. Current options are Enrichr and CellMarker.">Database:</label>
                            <select class="form-control" id="database-select" name="database_select" style="width:200px; margin-top: 5px;" onchange="toggle_query_visibility();">
                                <option value="enrichr">Enrichr</option>
                                <option value="cellmarker">CellMarker</option>
                                <option value="cellmesh" selected>CellMeSH</option>
                                <option value="cellmesh_anatomy">CellMeSH-Anatomy</option>
                                <option value="go">Gene Ontology</option>
                            </select>
                        </div>

                        <div id="enrichr_view">
                            <h5 data-toggle="tooltip" title="Uses the Enrichr tool from http://amp.pharm.mssm.edu/Enrichr/">Call Enrichr on selected genes</h4>
                            <div style="margin-top: 5px; margin-bottom: 5px; width: 300px;" class="form-inline">
                                <label for="gene-set-library">Gene set:</label>
                                <select class="form-control" id="gene-set-library" name="gene_set">
                                    {% for opt in gene_sets %}
                                    <option value={{ opt }}>{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button class="btn btn-default" id="enrichr-submit" type="button">Submit Enrichr query</button>
                            <div id="enrichr_results"></div>
                        </div>

                        <div id="cellmarker_view" style="display:none;">
                            <h5 data-toggle="tooltip" title="Query the CellMarker database for cell types matching the selected genes.">Query CellMarker with selected genes</h4>
                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="test-type" data-toggle="tooltip" title="Currently, only the hypergeometric test is available.">Statistical test:</label>
                                <select class="form-control" id="test-type" name="test_type">
                                    <option value="hypergeom" selected>Hypergeometric test</option>
                                </select>
                            </div>

                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="species" data-toggle="tooltip" title="Which species to query for cell types. Currently human and mouse are available.">Species:</label>
                                <select class="form-control" id="species" name="species">
                                    <option value="all" selected>All</option>
                                    <option value="Human">Homo sapiens</option>
                                    <option value="Mouse">Mus musculus</option>
                                </select>
                            </div>

                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="cells-or-tissues">Cells or tissues:</label>
                                <select class="form-control" id="cells-or-tissues" name="cells_or_tissues">
                                    <option value="cells" selected>Cells</option>
                                    <option value="tissues">Tissues</option>
                                </select>
                            </div>

                            <button class="btn btn-default" id="cellmarker-submit" type="button" onclick="update_gene_query('cellmarker')">Submit CellMarker query</button>
                            <div id="cellmarker_results"></div>
                        </div>

                       <div id="cellmesh_view" style="display:none;">
                            <h5 data-toggle="tooltip" title="Query the CellMeSH database for cell types matching the selected genes.">Query CellMeSH with selected genes</h4>
                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="mesh_test_type" data-toggle="tooltip" title="Currently, only the hypergeometric test is available.">Statistical test:</label>
                                <select class="form-control" id="mesh_test_type" name="mesh_test_type">
                                    <option value="hypergeom" selected>Hypergeometric test</option>
                                    <option value="norm_hypergeom">Normalized Hypergeometric test</option>
                                    <option value="prob">Probabilistic model</option>
                                    <option value="gsva">GSVA</option> 
                                </select>
                            </div>

                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="cellmesh_species" data-toggle="tooltip" title="Which species to query for cell types. Currently human and mouse are available.">Species:</label>
                                <select class="form-control" id="cellmesh_species" name="cellmesh_species">
                                    <option value="human" selected>Homo sapiens</option>
                                    <option value="mouse">Mus musculus</option>
                                    <option value="both">Human + mouse</option>
                                    <option value="c_elegans">C. Elegans</option>
                                </select>
                            </div>
                            <button class="btn btn-default" id="cellmesh-submit" type="button" onclick="update_gene_query('cellmesh');">Submit CellMesh query</button>
                            <div id="cellmesh_results"></div>
                        </div>

                        <div id="cellmesh_anatomy_view" style="display:none;">
                            <h5 data-toggle="tooltip" title="Query the CellMeSH database for cell types matching the selected genes.">Query CellMeSH with selected genes</h4>
                            <!-- TODO: have a list of potential sub-types -->
                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="anatomy_mesh_subset" data-toggle="tooltip" title="Comma-separated list of MeSH Anatomy IDs; query will include all children of these terms.">MeSH ID subset:</label>
                                <input list="anatomy_mesh_root_terms" class="form-control" id="anatomy_mesh_subset" name="anatomy_mesh_subset">
                                <datalist id="anatomy_mesh_root_terms">
                                    <option value="">
                                </datalist>
                            </div>
                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="anatomy_mesh_test_type" data-toggle="tooltip" title="Currently, only the hypergeometric test is available.">Statistical test:</label>
                                <select class="form-control" id="anatomy_mesh_test_type" name="anatomy_mesh_test_type">
                                    <option value="hypergeom" selected>Hypergeometric test</option>
                                </select>
                            </div>
                            <div class="form-inline" style="margin-top: 5px; margin-bottom: 5px; width: 300px;">
                                <label for="anatomy_species" data-toggle="tooltip" title="Which species to query for cell types. Currently human and mouse are available.">Species:</label>
                                <select class="form-control" id="anatomy_species" name="anatomy_species">
                                    <option value="human" selected>Homo sapiens</option>
                                    <option value="mouse">Mus musculus</option>
                                    <option value="both">Human + mouse</option>
                                    <option value="c_elegans">C. Elegans</option>
                                </select>
                            </div>
                            <button class="btn btn-default" id="cellmesh_anatomy_submit" type="button" onclick="update_gene_query('cellmesh_anatomy');">Submit CellMesh Anatomy query</button>
                            <div id="cellmesh_anatomy_results"></div>
                        </div>

                        <div id="go_view" style="display:none;">
                            <h5 data-toggle="tooltip" title="Query Gene Ontology for terms matching the selected genes.">Query GO with selected genes</h4>
                            <button class="btn btn-default" id="cellmesh_anatomy_submit" type="button" onclick="update_gene_query('go');">Submit GO query</button>
                            <div id="go_results"></div>
                        </div>
                    </form>
                </div>
                <div id="cell_query_pane" class="tab-pane fade">
                    <h3>Cell similarity search</h3>
                    <div id="cell_search_view">
                        <form id="cell_search_form">
                            <div class="form-inline">
                                <label for="cell_search_db">Database:</label>
                                <select class="form-control" id="cell_search_db" name="cell_search_db">
                                    <option value='tm_means' selected>Tabula Muris</option>
                                    <!--<option value='mca_coarse_means'>Microwell-seq mouse cell atlas</option>-->
                                    <option value='allen_cluster_means'>Allen Brain Atlas neocortex</option>
                                </select>
                                <label for="method">Method:</label>
                                <select class="form-control" id="method" name="method">
                                    <option value='spearman' selected>Spearman</option>
                                </select>
                                <label for="cell_search_cluster">Cluster:</option>
                                <select class="form-control" id="cell_search_cluster" name="cell_search_cluster">
                                </select>
                            </div>
                            <button class="btn btn-default" id="cell_search_submit" type="button" onclick="submit_db_query();">Submit</button>
                        </form>
                    </div>
                    <div id="cell_search_results">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <p>Results</p>

    <!-- TODO: display properties in this window... -->
    <div id="data_properties"></div>


</div>

{% endblock %}
