{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{{super()}}
{% if has_preview %}
<!-- TODO: parameterize the version number -->
<link
href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"
rel="stylesheet" type="text/css">
<link
href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css"
rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.js"></script>

<script>
window.onload = function() {
      $('[data-toggle="tooltip"]').tooltip()
};
</script>
{% endif %}
{% endblock %}

{% block content %}

<div class="container container-main" role="main">
    <h3>Results for query id {{ user_id }}</h3>

{% if uncurl_is_running %}
    <h4>Currently running uncurl. Will refresh every 60 seconds.</h4>
    <h4>Current task: {{ current_task }}</h4>
    <h4>Estimated time remaining: {{ time_remaining }}</h4>
{% endif %}

{% if has_preview %}
    Data preview is available
    <h5>Visualization</h5>

    <div id="num-cells">Number of cells: {{ cells }}</div>
    <div id="num-genes">Number of genes: {{ genes }}</div>

    {{ visualization }}
    <!-- TODO: submit revisions? -->


    <form action="start" method="post" enctype="multipart/form-data">
        {% if not uncurl_is_running %}
        <fieldset>
        {% else %}
        <fieldset disabled="disabled">
        {% endif %}

        <!--TODO: split into basic and advanced options. -->

        <!-- hide some options if uncurl is -->
        <h4>Basic Options</h4>
        {% if not uncurl_is_running and not uncurl_is_done %}
        <div class="form-group">
            <label for="k" data-toggle="tooltip" title="How many cell types are present in the data. If this is set to 0, then it will be estimated using a gap score-based metric.">Number of cell types (if set to 0, this will be inferred from the data):</label>
            <input type=number id="k" name="k" value=10>
        </div>

        <div class="form-group">
            <label for="vismethod" data-toggle="tooltip" title="This is the visualization method that will be used on the UNCURL-processed data.">Visualization method:</label>
            <select id="vismethod" name="vismethod">
                <option>MDS</option>
                <option selected>tSNE</option>
                <option>PCA</option>
                <option>UMAP</option>
            </select>
        </div>

        <div class="form-group">
            <label for="baseline-vismethod" data-toggle="tooltip" title="This is the visualization method that will be used on the raw data, without UNCURL.">Baseline visualization method:</label>
            <select id="baseline-vismethod" name="baseline_vismethod">
                <option>None</option>
                <option>MDS</option>
                <option selected>tSNE</option>
                <option>tSVD</option>
                <option>UMAP</option>
            </select>
        </div>
        {% endif %}


        <h4>Advanced Options</h4>

        <div id="advanced-options">

            <div class="form-group">
                <span>
                <label for="min-reads" data-toggle="tooltip" title="By default, this is the bottom 5% of cells by read count.">Remove cells with read counts less than:</label>
                <input type="number" id="min-reads" name="min_reads" value={{ min_reads }}>
                </span>
                <br>

                <span>
                <label for="max-reads" data-toggle="tooltip" title="By default, this is the top 5% of cells by read count.">Remove cells with read counts greater than:</label>
                <input type="number" id="max-reads" name="max_reads" value={{ max_reads }}>
                </span>
                <br>
            </div>

            <div class="form-group">
                <label for="disttype" data-toggle="tooltip" title="Distribution for use with UNCURL - usually, the Poisson distribution is best for count (UMI) data.">Distribution type:</label>
                <select id="disttype" name="disttype">
                    <option selected>Poisson</option>
                    <option>Log-Normal</option>
                    <option>Gaussian</option>
                </select>
            </div>

            <div class="form-group">
                <label for="genes-frac" data-toggle="tooltip" title="By default, UNCURL uses 20% of the genes, selected by variance.">Fraction of genes to include (put 1.0 to include all genes):</label>
                <input type="number" id="genes-frac" name="genes_frac" value=0.2 step="0.01" min="0.0" max="1.0">
            </div>

            <div class="form-group">
                <label for="cell-frac" data-toggle="tooltip" title="By default, this is set so that there are at most 1500 cells in the visualization.">Fraction of cells to include for visualization:</label>
                <input type="number" id="cell-frac" name="cell_frac" value={{ cell_frac }} step="0.01" min="0.0" max="1.0">
            </div>

            <div class="form-group">
                <label for="cell-norm" data-toggle="tooltip" title="If this is checked, then the data will be normalized so that each cell has the same read count (equal to the median read count over all cells).">Normalize cells by read count:</label>
                <input type="checkbox" id="cell-norm" name="normalize" value="1" checked>
            </div>
        </div>
        </fieldset>

        {% if not uncurl_is_running and not uncurl_is_done %}

        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-default">Submit</button>
        </div>

        {% endif %}

    </form>

    {% if uncurl_is_running %}

    <script>
        setTimeout(function(){
           window.location.reload(1);
        }, 60000);
    </script>
    
    {% endif %}
{% endif %}

{% if uncurl_is_running %}
    <p>Results</p>
    Results not yet available. Will refresh every 60 seconds.

    <script>
        setTimeout(function(){
           window.location.reload(1);
        }, 60000);
    </script>
{% endif %}

{% if uncurl_has_error %}
<!-- TODO -->
    <p>Error</p>

    <p><pre>
        {{  current_task }}
    </pre></p>
{% endif %}

{% if not has_preview and not uncurl_has_error %}
    <p>Data preview</p>
    Data preview not yet available. Will refresh every 20 seconds.

    <script>
        setTimeout(function(){
           window.location.reload(1);
        }, 20000);
    </script>
{% endif %}

</div>

{% endblock %}
