* * * * * root echo "Cleaning outdated files" >> /var/log/cron.log 2>&1
0 0 * * * find /tmp/uncurl -maxdepth 1 -type d -mtime +90 #-exec rm -rf {} +
* * * * * find /tmp/uncurl -maxdepth 1 -type f -mtime +3 -exec rm {} +

# TODO:
# - delete all folders in /tmp/uncurl that are not completed and older than 1 day
# - delete all files that don't have the gene expression data
# - delete all folders that end in -yjz-test-upload
