0 0 * * 1 root echo "Cleaning outdated files" >> /var/log/cron.log 2>&1
0 0 * * 1 sh cleanup.sh

# TODO:
# - delete all folders in /tmp/uncurl that are not completed and older than 1 day
# - delete all files outside of folders (they shouldn't even exist)
# - delete all folders that end in -yjz-test-upload
