version: '3'
services:
  web:
    build: .
    ports:
      - "127.0.0.1:8589:8888"
    volumes:
      - /cse/web/research/uncurl/tmp:/tmp
      - /cse/web/research/uncurl/uncurl_test:/uncurl_test
    environment:
      - TEST_DATA_DIR=/uncurl_test
    restart: always
