flask
flask_bootstrap
Flask-Caching
scipy
numpy
scikit-learn
redis
uncurl-seq
gunicorn
colorlover
plotly
git+git://github.com/yjzhang/simplex_sample.git
git+git://github.com/yjzhang/uncurl_analysis.git@7459f7e
git+git://github.com/yjzhang/cellmarker_python.git
git+git://github.com/yjzhang/gene_name_mapper.git
git+git://github.com/yjzhang/cellmesh.git@4aa0ff2
git+git://github.com/yjzhang/kegg_query.git
