flask
flask_bootstrap
Flask-Caching
scipy
numpy
scikit-learn
redis
uncurl-seq>=0.2.16
gunicorn
colorlover
plotly
git+https://github.com/yjzhang/uncurl_python.git
git+https://github.com/yjzhang/simplex_sample.git
git+https://github.com/yjzhang/uncurl_analysis.git@a64425c
git+https://github.com/yjzhang/cellmarker_python.git
git+https://github.com/yjzhang/gene_name_mapper.git
git+https://github.com/yjzhang/cellmesh.git
git+https://github.com/yjzhang/kegg_query.git
