flask
flask_bootstrap
Flask-Caching
scipy
numpy
scikit-learn
redis
uncurl-seq
gunicorn
colorlover
plotly==4.3.0
git+https://github.com/yjzhang/uncurl_python.git
git+https://github.com/yjzhang/simplex_sample.git
git+https://github.com/yjzhang/uncurl_analysis.git@933438e
git+https://github.com/yjzhang/cellmarker_python.git
git+https://github.com/yjzhang/gene_name_mapper.git
git+https://github.com/yjzhang/cellmesh.git
git+https://github.com/yjzhang/kegg_query.git
