.overlay {
    background: rgba(0,0,0,0.5);
    display: none;        
    position: fixed;  
    width: 100%;
    height: 100%;
    top: 0;             
    right: 0;    
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 2;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
}

.top-left {
    grid-column: 1 / 2;
    grid-row: 1;
}

.top-right {
    grid-column: 2 / 3;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: 20px;
}

.bottom-right {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-top: 20px;
}

.container {
    margin-left: 50px;
    padding-left: 0px;
}

table {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

tr {
}

td {
    padding-top: 10px;
    padding-right: 10px;
}

th {
    padding-top: 10px;
    padding-right: 10px;
}
