.overlay {
    background: #e9e9e9;  /* source: https://stackoverflow.com/questions/28931791/jquery-how-to-grey-out-the-background-while-showing-the-loading-icon-over-it */
    display: none;        
    position: absolute;  
    top: 0;             
    right: 0;    
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
}

.top-left {
    grid-column: 1 / 2;
    grid-row: 1;
}

.top-right {
    grid-column: 2 / 3;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-top: 20px;
}

.bottom-right {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-top: 20px;
}

.container {
    margin-left: 50px;
    padding-left: 0px;
}

table {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

tr {
}

td {
    padding-top: 10px;
    padding-right: 10px;
}

th {
    padding-top: 10px;
    padding-right: 10px;
}
