{% extends "base.html" %}

{% block content %}
<div class="container container-main" role="main">
    <h3>UNCURL</h3>

    <p>UNCURL is a unified framework for various unsupervised learning tasks with single cell transcriptomic data that accounts for the read distribution due to the sequencing process. It can be used to perform a variety of tasks such as:</p>

    <ul>
        <li>Clustering</li>
        <li>True transcriptomic state estimation</li>
        <li>Dimensionality reduction</li>
        <li>Lineage estimation</li>
        <li>Semi-supervision using any kind of binarizable prior information</li>
    </ul>

    <p><a href="https://sites.google.com/uw.edu/uncurl-release">Project homepage</a></p>
    <p><a href="https://github.com/yjzhang/uncurl_app">Source code (web app)</a></p>
    <p><a href="https://github.com/yjzhang/uncurl_python">Source code (python)</a></p>
    <p><a href="https://github.com/mukhes3/UNCURL_release">Source code (Matlab)</a></p>

    <img src="{{ url_for('static', filename='unnamed.jpg') }}">

</div>
{% endblock %}
