{% extends "clustering.html" %}

{% block title %}Qualitative to Quantitative{% endblock %}

{% block instructions %}
There are two arguments, both of which are data matrices:

Single-cell data: a gene x cell tab-separated file

Qualitative data;
{% endblock %}

{% block method %}

{% endblock %}

        

{% block input %}
    <form action="qual2quant/input" method="post" enctype=multipart/form-data>

        <div class="form-group">
            <label for="fileinput">Single-cell data input - upload a tab-separated text file, where each row is a gene and each column is a cell.</label>
            <input type="file" id="fileinput" name="fileinput"></input>
        </div>

        <div class="form-group">
            <label for="fileinput">Qualitative data input - upload a tab-separated text file, where each row is a gene and each column is a cluster/cell type.</label>
            <input type="file" id="qualinput" name="qualinput"></input>
        </div>
 
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit Data</button>
        </div>


        <!--
        <div class="form-group">
            <label for="textarea">Alternatively, paste the data in as a tab-separated file, where each row is a gene and each column is a cell.</label>
            <textarea cols=80 rows=15 id="textarea"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit Data</button>
        </div>
        -->
    </form>
{% endblock %}
