{% extends "clustering.html" %}

{% block title %}Qualitative to Quantitative{% endblock %}

{% block instructions %}
<p>There are two arguments, both of which are data matrices:</p>

<p>Single-cell data: a gene x cell tab-separated file</p>

<p>Qualitative data: a gene x cluster tab-separated file</p>
{% endblock %}

{% block method %}

The Qualitative to Quantitative framework is used to convert qualitative prior information into good initialization points for unsupervised learning algorithms. Each gene in the SCS dataset is first clustering into two clusters to obtain the means of a presumably bimodal distribution (representing ‘ON’ and ‘OFF’ states). The qualitative information is then converted to a binary matrix whose rows are genes and columns are cell types. Finally, each element in this matrix is then converted to a numeric value by replacing the zeros with the means for the ‘OFF’ state and the ones with the means of the ‘ON’ states (for each given gene). This numeric matrix is then used to initialize unsupervised learning algorithms. The qualitative information can be any kind of array data, bulk RNA-Seq data or cell type specific information that can be binarized. 

{% endblock %}

        

{% block input %}
    <form action="qual2quant/input" method="post" enctype=multipart/form-data>

        <div class="form-group">
            <label for="fileinput">Single-cell data input - upload a tab-separated text file, where each row is a gene and each column is a cell.</label>
            <input type="file" id="fileinput" name="fileinput"></input>
        </div>

        <div class="form-group">
            <label for="fileinput">Qualitative data input - upload a tab-separated text file, where each row is a gene and each column is a cluster/cell type.</label>
            <input type="file" id="qualinput" name="qualinput"></input>
        </div>
 
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit Data</button>
        </div>

    </form>
{% endblock %}
