{% extends "base.html" %}

{% block content %}
<div class="container container-main" role="main">
    <h3>State Estimation</h3>

    <div>
        <p>
        Paste or upload a tab- or space-separated file where each row is a gene and each column is a cell. In the output, the first line will contain the cluster assignments for each cell as integers, while in the following lines, each line contains the mean for all the clusters for one gene.
        </p>
        <h4>Sample Data</h4>
        <p><a href={{ url_for('static', filename='scde_k2.txt') }}>Example file: real data, k=2</a></p>
        <p><a href={{ url_for('static', filename='SynMouseESprog_1000.txt') }}>Example file: synthetic data, k=3</a></p>

    </div>

    <h4>Method Details</h4>

    <div>
        <p>The Poisson Convex Mixture Model is used to estimate the state...</p>
    </div>

        
    <h4>Data Input</h4> 


    <form action="state_estimation/input" method="post" enctype=multipart/form-data>

        <div class="form-group">
            <label for="fileinput">Upload a tab-separated text file, where each row is a gene and each column is a cell.</label>
            <input type="file" id="fileinput" name="fileinput"></input>
        </div>
 
        <div class="form-group">
            <label for="k">Number of states (k):</label>
            <input type=number id="k" name="k" value=2></input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit Data</button>
        </div>


        <!--
        <div class="form-group">
            <label for="textarea">Alternatively, paste the data in as a tab-separated file, where each row is a gene and each column is a cell.</label>
            <textarea cols=80 rows=15 id="textarea"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit Data</button>
        </div>
        -->
    </form>

</div>
{% endblock %}
