{% extends "base.html" %}

{% block head %}
{{super()}}
{% if has_result %}
<!-- TODO: parameterize the version number -->
<link
href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"
rel="stylesheet" type="text/css">
<link
href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css"
rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}

<div class="container container-main" role="main">
    <h4>Results for query id {{ user_id }}</h4>
    {% if has_result %}
    Results are available:
    {% block file_downloads %}
    <p>
        <a href="{{ user_id }}/m.txt">Centers</a>
    </p>
    <p>
        <a href="{{ user_id }}/w.txt">Weights</a>
    </p>
    {% endblock %}

    <h5>Visualization</h5>
    {{ visualization }}

    <p>Results</p>
    {% else %}
    Results not yet available. Will refresh every 60 seconds.

    <script>
        setTimeout(function(){
           window.location.reload(1);
        }, 60000);
    </script>
    {% endif %}

</div>

{% endblock %}
