{% extends "clustering.html" %}

{% block title %}State Estimation{% endblock %}

{% block instructions %}
Upload a file containing single-cell RNASeq data, where each row is a gene and each column is a cell. 
{% endblock %}

{% block method %}
This runs UNCURL state estimation on the given dataset, and returns an interactive visualization of the identified cell types.

For details on the method, see <a href="https://www.biorxiv.org/content/early/2018/03/01/142398">https://www.biorxiv.org/content/early/2018/03/01/142398</a>
{% endblock %}
        

{% block input %}
    <form action="state_estimation/input" method="post" enctype=multipart/form-data>

        <div class="form-group">
            <label for="fileinput">Upload a text file formatted as a space-separated matrix, where each row is a gene and each column is a cell. Alternatively, this can be a sparse mtx (Matrix Market) file. Both types of input can be gzipped.</label>
            <input type="file" class="form-control-file" id="fileinput" name="fileinput"></input>
        </div>

        <div class="form-group">
            <label for="inputtype">Input type:</label>
            <select id="inputtype" name="inputtype">
                <option value="dense" selected>Dense matrix (space or tab-separated numbers)</option>
                <option value="sparse">Sparse matrix (mtx, mtx.gz)</option>
            </select>
        </div>


        <div class="form-group">
            <label for="genenames">Upload a list of gene names, with one name on each line, corresponding to the rows in the data matrix.</label>
            <input type="file" class="form-control-file" id="genenames" name="genenames"></input>
        </div>


        <div class="form-group">
            <label for="startinput">Optional: upload qualitative or quantitative information about the cell types present in the dataset, where each row is a gene and each column is a cell type.</label>
            <input type="file" id="startinput" name="startinput"></input>
        </div>

        <div class="form-group">
            <label for="username">Optional: enter a name for the job.</label>
            <input type="text" id="username" name="username"></input>
        </div>



        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-default">Submit Data</button>
        </div>

    </form>
{% endblock %}
