{% extends "base.html" %}

{% block head %}

<!-- TODO: have an option for serving static files?-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

{{ super() }}

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
// this script is used to generate all the graphs, and deal with callbacks. 
var user_id = "{{ user_id }}";

// have a user-side cache to avoid having to re-make so many json calls
var cache = {};
cache.barplots = {};
cache.scatterplots = {};
cache.enrichr = {};

var currently_selected_cluster = 0;

var current_scatterplot_data = {};

var all_selected_clusters = [];
var currently_merging = false;

// use jquery for ajax calls

function bind_click() {
    var plot = $('#means-scatter-plot')[0];
    plot.on('plotly_click', function(data) {
        var cluster = data.points[0].curveNumber;
        // TODO: update selected cluster
        currently_selected_cluster = cluster;
        console.log(cluster);
        update_barplot(cluster);
        // update barplot
        var l = current_scatterplot_data.data[cluster].x.length;
        all_selected_clusters = [cluster];
        selection_string = "cluster " + String(cluster) + 
            " (" + String(l) + " cells), ";
        // set update area...
        $("#update-area").empty();
        $("#update-area").append("selected clusters: " + selection_string);
    });
};

// function called whenever a scatterplot is clicked or
// when the dropdown is changed...
function update_barplot(cluster_number) {
    var top_or_bulk = $("#top-or-bulk").val();
    var input_value = cluster_number;
    var num_genes = $("#num-genes").val();
    console.log('update_barplot');
    var key = top_or_bulk + String(input_value) + ' ' + String(num_genes);
    if (cache.barplots.hasOwnProperty(key)) {
        var data = cache.barplots[key];
        var gene_names = data.data[0].y;
        $('#top-genes-view').val(gene_names.join('\n'));
        Plotly.newPlot("top-genes", data.data, data.layout);
        return true;
    }
    $.ajax({url: window.location.pathname + "/update_barplot",
        type: "POST",
        data: {"top_or_bulk": top_or_bulk,
               "input_value": input_value,
               "num_genes": num_genes},
    }).done(function(data) {
        data = JSON.parse(data);
        cache.barplots[key] = data;
        var gene_names = data.data[0].y;
        $('#top-genes-view').val(gene_names.join('\n'));
        if (gene_names.length > 20) {
            data.layout.yaxis = {};
            data.layout.yaxis.showticklabels = false;
        }
        Plotly.newPlot("top-genes", data.data, data.layout);
    });
    return true;
};

// this function is called on startup, and whenever the radio buttons
// corresponding to different input types are clicked.
function update_scatterplot() {
    var plot_type = $('input[name="scatter-type"]:checked').val();
    // TODO: have a cache and look up the outputs
    var cell_color = $("#cell-color").val();
    var gene_name = $('#gene_name').val();
    console.log(plot_type);
    console.log(cell_color);
    if (cache.scatterplots.hasOwnProperty(plot_type + cell_color + gene_name)) {
        var data = cache.scatterplots[plot_type + cell_color];
        Plotly.newPlot("means-scatter-plot", data.data, data.layout);
        current_scatterplot_data = data;
        bind_click();
        bind_select();
        return true;
    }
    $.ajax({url: window.location.pathname + "/update_scatterplot",
        type: "POST",
        data: {"scatter_type": plot_type, "cell_color": cell_color,
               "gene_name": gene_name},
    }).done(function(data) {
        data = JSON.parse(data);
        cache.scatterplots[plot_type + cell_color] = data;
        Plotly.newPlot("means-scatter-plot", data.data, data.layout);
        current_scatterplot_data = data;
        bind_click();
        bind_select();
    });
    return true;
};

function set_enrichr_results(data) {
    // create table
    var table = $('<table>');
    var header = $('<tr>');
    for (var j = 0; j<data[0].length; j++) {
        header.append('<th>'+data[0][j]+'</td>');
    }
    table.append(header);
    for (var i = 1; i<data.length; i++) {
        var row = $('<tr>');
        for (var j = 0; j<data[i].length; j++) {
            row.append('<td>'+data[i][j]+'</td>');
        }
        table.append(row);
    }
    $('#enrichr-results').append(table);
}

function update_enrichr() {
    var top_genes = $('#top-genes-view').val();
    var gene_set = $('#gene-set-library').val();
    console.log('update_enrichr');
    var key = top_genes + gene_set;
    if (cache.enrichr.hasOwnProperty(key)) {
        set_enrichr_results(cache.enrichr[key]);
    }
    $('#enrichr-results').empty();
    $("#enrichr-results").append("<br>" + "Enrichr query in progress..." + '<img src="/static/ajax-loader.gif"/>');
    $.ajax({url: window.location.pathname + "/update_enrichr",
        type: "POST",
        data: {'top_genes': top_genes, 'gene_set': gene_set},
    }).done(function(data) {
        $('#enrichr-results').empty();
        if (data.startsWith('Error')) {
            $('#enrichr-results').append(data);
        } else {
            data = JSON.parse(data);
            cache.enrichr[key] = data;
            set_enrichr_results(data);
        }
    });
    return true;
};

function bind_select() {
   var plot = $('#means-scatter-plot')[0];
   plot.on('plotly_selected', on_select);
};

// handler for scatterplot selection events
function on_select(data) {
    if (!data) {
        return false;
    }
    var clusters = new Set([]);
    for (var i = 0; i<data.points.length; i++) {
        clusters.add(data.points[i].curveNumber);
    }
    // find cluster lengths
    var cluster_lengths = [];
    all_selected_clusters = [];
    var selection_string = "";
    clusters.forEach(function(x) {
        var l = current_scatterplot_data.data[x].x.length;
        cluster_lengths.push(l);
        all_selected_clusters.push(x);
        selection_string += "cluster " + String(x) + 
            " (" + String(l) + " cells), ";
    });
    // set update area...
    $("#update-area").empty();
    $("#update-area").append("selected clusters: " + selection_string);
};


function split_or_merge_cluster(split_or_merge) {
    if (currently_merging) {
        window.alert('Already running ' + split_or_merge + ' cluster');
        return false;
    }
    var selected_clusters = all_selected_clusters;
    if (all_selected_clusters.length == 0) {
        window.alert('Warning: no selected clusters.');
        return false;
    }
    if (split_or_merge == "merge" && all_selected_clusters.length == 1) {
        window.alert('Warning: cannot merge a single cluster.');
        return false;
    }
    // lengths of each of the selected clusters
    console.log(split_or_merge);
    console.log(selected_clusters);
    $("#update-area").append("<br>" + split_or_merge + " clusters in progress... (re-running UNCURL, recalculating differentially expressed genes) " + '<img src="/static/ajax-loader.gif"/>');
    currently_merging = true;
    // TODO: make some indication that
    $.ajax({url: window.location.pathname + "/split_or_merge_cluster",
        data: {'split_or_merge': split_or_merge,
               'selected_clusters': selected_clusters.join(',')},
        method: 'POST',
    }).done(function(data) {
        currently_merging = false;
        if (data.startsWith('Error')) {
            $('#update-area').empty();
            $('#update-area').append(data);
        } else {
            $('#update-area').empty();
            $('#update-area').append(data);
            // reload page?
            cache.barplots = {};
            cache.scatterplots = {};
            update_scatterplot();
            update_barplot(0);
            //location.reload(true);
        }
    });
};

// copies data to a new user_id
function copy_data() {
    var result = window.confirm("Do you wish to copy this dataset to a new user id?");
    if (result == false) {
        return false;
    }
    $('#update-area').empty();
    $("#update-area").append("Copying data and results " + '<img src="/static/ajax-loader.gif"/>');
    $.ajax({url: window.location.pathname + "/copy_dataset",
        method: 'POST'
    }).done(function(data) {
        if (data.startsWith('Error')) {
            $('#update-area').empty();
            $('#update-area').append(data);
        } else {
            var new_user_id = data;
            $('#update-area').empty();
            $('#update-area').append('New results page: <a href="/user/' + new_user_id + '/view">' + new_user_id + '</a>');
        }
    });

};



window.onload = function() {
    // activate tooltips
    $('[data-toggle="tooltip"]').tooltip();
    // bind radio buttons to update_scatterplot
    $('input[name="scatter-type"]').change(function() {
        update_scatterplot();
    });
    $('#cell-color').change(function() {
        var cell_color = $("#cell-color").val();
        if (cell_color == "gene") {
            var gene_name = $('#gene_name').val();
            if (gene_name.length > 0) {
                update_scatterplot();
            }
            $('#gene-name-area').css('display', 'block');
        } else {
            $('#gene-name-area').css('display', 'none');
            update_scatterplot();
        }
    });
    update_scatterplot();

    // bind dropdowns to update_barplot
    $('#top-or-bulk').change(function() {
        update_barplot(currently_selected_cluster);
    });
    $('#num-genes').change(function() {
        update_barplot(currently_selected_cluster);
    });
    update_barplot(currently_selected_cluster);

    // bind update enrichr button to update_enrichr
    $('#enrichr-submit').click(function() {
        update_enrichr();
    });

    // bind merge and split buttons to split_or_merge_cluster
    $('#split').click(function() {
        split_or_merge_cluster('split');
    });
    $('#merge').click(function() {
        split_or_merge_cluster('merge');
    });
    $('#copy').click(function() {
        copy_data();
    });
};

</script>


<style>

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
}

.top-left {
    grid-column: 1 / 2;
    grid-row: 1;
}

.top-right {
    grid-column: 2 / 3;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1 / 2;
    grid-row: 2;
    margin-top: 20px;
}

.bottom-right {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-top: 20px;
}

.container {
    padding-left: 0px;
}

table {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

tr {
}

td {
    padding-top: 10px;
    padding-right: 10px;
}

th {
    padding-top: 10px;
    padding-right: 10px;
}
</style>

{% endblock %}

{% block content %}

<div class="container container-main" role="main">
    <h3>Results for query id {{ user_id }}</h3>
    Results are available:
    {% block file_downloads %}

    <a href="{{ url_for('data_download', x=test_or_user, user_id=data_user_id) }}">Data downloads</a>

    {% endblock %}


    <div id="visualization" class="wrapper">

        <div class="top-left" id="left-hand-panel-1" style="width: 750px;">
            <input type="radio" id="Means" value="Means" name="scatter-type" checked="checked">
            <label for="Means" data-toggle="tooltip" title="Scatterplot of the cluster archetypes, plotted by MDS.">Cluster means</label>
            <input type="radio" id="Cells" value="Cells" name="scatter-type">
            <label for="Cells" data-toggle="tooltip" title="Scatterplot visualization of cells after processing with UNCURL.">Processed cells</label>
            <input type="radio" id="Baseline" value="Baseline" name="scatter-type">
            <label for="Baseline" data-toggle="tooltip" title="Scatterplot visualization of cells before processing with UNCURL.">Unprocessed cells</label>

            <div id="means-scatter-plot" style="width: 700px; margin-top: 5px"></div>


            <label for="cell-color">Color scheme:</label>
            <select id="cell-color" data-toggle="tooltip" title="How the cells should be colored - either by their cluster label, or by their cluster label entropy.">
                <option value="cluster" selected>Cluster</option>
                <option value="entropy">Entropy</option>
                <option value="gene">Gene</option>
            </select>

            <div id="gene-name-area" style="display:none;">
                <label for="gene_name">Gene name:</label>
                <input id="gene_name" type="text">
                <button id="gene_name_submit" onclick="update_scatterplot()">Submit</button>
            </div>

            <div style="margin-top: 5px;">
                <div id="update-area"></div>
                <button id="split" style="margin-right: 2px;">Split selected clusters</button>
                <button id="merge">Merge selected clusters</button>
                <button id="copy">Copy dataset</button>
            </div>
        </div>

        <div class="top-right" id="right-hand-panel-1" style="width: 550px">
            <select id="top-or-bulk" style="width: 300px;" data-toggle="tooltip" title="Which quantity to visualize in the barplot. C-score is the ratio of the mean expression in the given cluster to the cluster with the second-highest expression.">
                <option value="top" selected>Top genes (c-score)</option>
                <option value="pval">Top genes (p-value)</option>
                <option value="top_1_vs_rest">Top genes (1-vs-rest fold change)</option>
                <option value="pval_1_vs_rest">Top genes (p-value of fold change)</option>
                <option value="sep">Most similar clusters (separation score)</option>
                <!--<option value="bulk">Bulk correlations</option>-->
            </select>

            <div style="margin-top: 4; margin-bottom: 0">
                Number of top genes: 
                <input type="number" id="num-genes" value="10">
            </div>

            <!-- Plot of top gene/p-value bar plots goes here -->
            <div id="top-genes" style="width: 500px;"></div>

        </div>

        <div class="bottom-left" id="bottom-panel" style="margin-top: 20px;">
            <h4 data-toggle="tooltip" title="Uses the Enrichr tool from http://amp.pharm.mssm.edu/Enrichr/">Call Enrichr on current top genes</h4>
            <div>Currently selected top genes:</div>
            <div>
                <textarea id="top-genes-view" cols="50" rows="4">Top genes go here</textarea>
            </div>
            <div style="margin-top: 5px; margin-bottom: 5px;">
                <select id="gene-set-library">
                    {% for opt in gene_sets %}
                    <option value={{ opt }}>{{ opt }}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="enrichr-submit">Submit Enrichr query</button>
            <div id="enrichr-results"></div>
        </div>

        <div class="bottom-right">
        </div>

    </div>


    <p>Results</p>

    <!--display properties in this window... -->
    <div id="data_properties"></div>


</div>

{% endblock %}
