{% extends "clustering.html" %}

{% block title %}State Estimation{% endblock %}

{% block instructions %}
Paste or upload a tab- or space-separated file containing single-cell RNASeq data where each row is a gene and each column is a cell. 
{% endblock %}

{% block method %}
This runs UNCURL state estimation on the given dataset, and returns an interactive visualization of the identified cell types.

For details on the method, see <a href="https://www.biorxiv.org/content/early/2018/03/01/142398">https://www.biorxiv.org/content/early/2018/03/01/142398</a>
{% endblock %}
        

{% block input %}
    <form action="state_estimation/input" method="post" enctype=multipart/form-data>

        <div class="form-group">
            <label for="fileinput">Upload a text file formatted as a space-sparated matrix, where each row is a gene and each column is a cell. Alternatively, this can be a sparse mtx (Matrix Market) file.</label>
            <input type="file" id="fileinput" name="fileinput"></input>
        </div>

        <div class="form-group">
            <label for="inputtype">Input type:</label>
            <select id="inputtype" name="inputtype">
                <option value="dense" selected>Dense matrix (space or tab-separated numbers)</option>
                <option value="sparse">Sparse matrix (mtx)</option>
            </select>
        </div>


        <div class="form-group">
            <label for="startinput">Optional: upload starting positions for the cell type centers, where each row is a gene and each column is a cell type.</label>
            <input type="file" id="startinput" name="startinput"></input>
        </div>

        <div class="form-group">
            <label for="genenames">Optional: upload a list of gene names, with one name on each line, corresponding to the rows in the data matrix.</label>
            <input type="file" id="genenames" name="genenames"></input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit Data</button>
        </div>

    </form>
{% endblock %}
